asgiref
certifi
cffi
chardet
coreapi
coreschema
cryptography
Django
django-cors-headers
django-crontab
django-extensions
django-rest-knox
djangorestframework
drf-yasg
drf-writable-nested
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
#psycopg2==2.8.6
psycopg2-binary
pycparser
pyparsing
python-decouple
pytz
requests
ruamel.yaml
ruamel.yaml.clib
setuptools
sqlparse
uritemplate
urllib3
attrs
importlib-metadata
iniconfig
pandas
pluggy
py
pytest
toml
typing-extensions
zipp
pytest-django
coverage
django-ssl-auth
django-filter
django-environ
PyPDF4
python-dateutil
numpy
django-import-export
twilio
django-post-office
django-sendgrid-v5
